version: '3.3'
services:
   base:
      build: ./base/
      image: base
      container_name: base
      volumes: 
         - ./db:/Public
   checkm:
      build: ./checkm/
      image: checkm
      container_name: checkm
      tty: true
      volumes:
         - ./db:/Public
      depends_on:
         - base 
   spades:
      build: ./spades/
      image: spades
      container_name: spades
      volumes: 
         - ./db:/Public
      tty: true
      depends_on:
         - base
   pyani:
      build: ./pyani/
      image: pyani
      container_name: pyani
      volumes:
         - ./db:/Public
      tty: true
